<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Nandini Yadav Janga </h1>
      <h2> <a href="https://www.linkedin.com/in/j-nandini-yadav-b47b92123/">My LinkedIn </a> </h2>

      <br>
      <br>
    </div>
  </div>
</div>