<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Harsha Vardhan Reddy Nallavolu </h1>
      <a href="www.linkedin.com/in/harsha-vardhan-reddy-nallavolu-3b8448179">My link to Linkedin</a>

      <br>
      <br>
    </div>
  </div>
</div>