<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Sushma Rani Reddy Aleti </h1>
      <h2>
      <a href= "https://www.linkedin.com/in/sushma-reddy-aleti-5b0571178">my linkedIn account</a> 
      </h2>
      <br>
      <br>
    </div>
  </div>
</div>